#container {
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
}

ion-content  {
    text-align: center;
    margin: 0 auto;
}

ion-button {
    text-align: center;
    margin: 0 auto;
}

ion-input {
    text-align: center;
    margin: 0 auto;
    width: 80%;
    border: 1px solid;
    border-radius: 8px;
    margin-bottom: 20px;
}
ion-button {
    margin-top: 20px;
}